body {
	padding-top: 90px;
}

.bg-img {
        background-image:url(../img/Social-AAW.jpg);
        background-repeat:no-repeat;
        background-position:50% 0%;
}

.h-center {
	width: 100%;
	text-align: center;
}

.panel-orange {
  border-color: #f0ad4e;
}
.panel-orange > .panel-heading {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.panel-orange > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f0ad4e;
}
.panel-orange > .panel-heading .badge {
  color: #f0ad4e;
  background-color: #f0ad4e;
}
.panel-orange > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f0ad4e;
}

.panel-primary {
  border-color: #5bc0de;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #5bc0de;
}
.panel-primary > .panel-heading .badge {
  color: #5bc0de;
  background-color: #5bc0de;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #5bc0de;
}

.droite {
   text-align: right;
}

.form-control[readonly] {
  cursor: default;
  background-color: #fff;
}