body {
	padding-top: 90px;
        background-color: #e0e0e0;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.bg-img {
        background-image:url(../img/Social-AAW.jpg);
        background-repeat:no-repeat;
        background-position:50% 0%;
}

.btn-margin {
    margin-top : 8px;
}

.h-center {
	width: 100%;
	text-align: center;
}

.displayed {
    display: block;

}

.center-button {
    margin-left: auto;
    margin-right: auto 
}

.dimension-img {
	width: 9em;
	height: 9em;
        margin-left: auto;
        margin-right: auto;
}

.dimension-img-pub {
	width: 3em;
	height: 3em;
}

.form-control[readonly] {
  cursor: default;
  background-color: #fff;
}

.panel-heading {
    background-color: #ffffff;
    border: 1px solid #ccc;
    //border-radius: 4px;
}

.panel-orange {
  border-color: #f0ad4e;
}
.panel-orange > .panel-heading {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #f0ad4e;
}
.panel-orange > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #f0ad4e;
}
.panel-orange > .panel-heading .badge {
  color: #f0ad4e;
  background-color: #f0ad4e;
}
.panel-orange > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #f0ad4e;
}

.panel-primary {
  border-color: #5bc0de;
}
.panel-primary > .panel-heading {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
  border-top-color: #5bc0de;
}
.panel-primary > .panel-heading .badge {
  color: #5bc0de;
  background-color: #5bc0de;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
  border-bottom-color: #5bc0de;
}

