body {
	padding-top: 90px;
}

.bg-img {
        background-image:url(../img/Social-AAW.jpg);
        background-repeat:no-repeat;
        background-position:50% 0%;
}

.h-center {
	width: 100%;
	text-align: center;
}